<div id="<%= dom_id order %>">
  <p>
    <strong>Ticket:</strong>
    <%= order.ticket_id %>
  </p>

  <p>
    <strong>Sales:</strong>
    <%= order.sales_id %>
  </p>

  <p>
    <strong>Phonenumber:</strong>
    <%= order.phoneNumber %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= order.email %>
  </p>

</div>
