<div id="<%= dom_id ticket %>">
  <p>
    <strong>Event:</strong>
    <%= ticket.event_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= ticket.price %>
  </p>

  <p>
    <strong>Ticket type:</strong>
    <%= ticket.ticket_type %>
  </p>

  <p>
    <strong>Total tickets:</strong>
    <%= ticket.total_tickets %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= ticket.name %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= ticket.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= ticket.end_time %>
  </p>

  <p>
    <strong>Max quantity:</strong>
    <%= ticket.max_quantity %>
  </p>

  <p>
    <strong>Group size:</strong>
    <%= ticket.group_size %>
  </p>

  <p>
    <strong>Is group ticket:</strong>
    <%= ticket.is_group_ticket %>
  </p>

  <p>
    <strong>Qr code data:</strong>
    <%= ticket.qr_code_data %>
  </p>

  <p>
    <strong>Used:</strong>
    <%= ticket.used %>
  </p>

</div>
